/* Write your code here: */
h1, h2{ /*Using group selectors*/
    color: blueviolet;
}

div > p{ /*Using Child Selectors*/
    color:firebrick;
}

body .list{ /*Using Descendant Selectors, Works with parent being 'div' or '.box' as well */
    color:blue;
}

li.done{ /*Using Chain Selectors*/
    color:seagreen;
}

ul p.done{ /*Combining Descendant Selectors with Chain Selectors*/
    font-size:0.5rem;
} /*Comment for me*/